<div class="about_us_page_wrapper">
    <img src="./img/darkwood_rotaded.jpg" alt="" class="about_us_bg_img">
    <img src="./img/darkwood.jpg" alt=""class="about_us_bg_img_desktop">
    <div class="about_us_headline_wrapper">
        <h1 class="about_us_headline2">
            About Us
        </h1>
    </div>

    <div class="list_of_staff">
        <ul class="list">
            <li id="padding_top" class="position">Brew Master</li>
            <li class="name">Christoffer</li>
            <li class="position">Front of the House</li>
            <li class="name">Christoffer</li>
            <li class="position">Bartender</li>
            <li class="name">Josefin <3</li>
        </ul>
    </div>

    <div class="parralax_effect_img">
        <!-- <img src="./img/cigar_parralax_img.jpg" alt="" class="cigar"> -->
    </div>





</div>