<div class="contacts_wrapper">
    <div class="contacts_landing">
        <img src="./img/blurred_bar.jpg" alt="" class="contacts_bg">            
        <div class="contacts_headline_wrapper">
                <h1 class="contacts_headline">Contact Us</h1>
            </div>
        
            <div class="arrow_downwards">
                <i id="arrow" class="material-icons">
                    keyboard_arrow_down
                </i>
            </div>
    </div>


    <div class="contact_info_wrapper">
        <div class="contact_info">
            <ul class="contact_info_list">
                <li class="contact_way">Phone</li>
                <li class="contact">0721602759</li>
                <li class="contact_way">Email</li>
                <li class="contact">christoffer.polndorferoresten@itggot.se</li>
                <li class="contact_way">Adress</li>
                <li class="contact">Manhattan... somewhere </li>
            </ul>
        </div>
    </div>


    <div class="find_us_wrapper">

        <div class="find_us_headline_wrapper">
            <h1 class="find_us_headline">Find Us</h1>
        </div>
        <div class="find_us_map">
            <img src="./img/google_map_screen_pin.png" alt="" id="map">
        </div>
    </div>
</div>