<div class="drinks_page_wrapper">
    <div class="drinks_landing">
        <div class="drinks_bg">
            <img src="./img/drinks_bg.jpg" alt="" class="drinks_bg_img">
        </div>

        <div class="drinks_headline_wrapper">
            <h1 class="drinks_headline">
                    DRINKS
            </h1>
        </div>

        <div class="arrow_downwards">
            <i id="arrow" class="material-icons">
                keyboard_arrow_down
            </i>
        </div>
    </div>
    

    <div class="responsive_gallery">
        <div class="responsive">
            <div class="gallery">
                <img src="./img/jack_daniesl_cropped.jpg"  width="400" height="400">
            <div class="desc">
                <h1>Jack Daniels</h1>
                <p> Charcoal Mellowed
                drop by drop through 10-feet of sugar maple charcoal, 
                then matured in handcrafted barrels.
                The Tennessee Whiskey doesn’t follow a calendar. 
                It’s only ready when the tasters say it is. They judge it by the way it looks. 
                By its aroma. And of course, by the way it tastes.</p>
            </div>
            </div>
        </div>
                
        <div class="responsive">
            <div class="gallery">  
                <img src="./img/beer_cropped.jpg" width="400" height="400">
            <div class="desc">
                <h1>Craft Beer of the House</h1>
                <p>Our own cold, crisp and refreshing craft beer,
                   with a crisp, smooth flavour with hints of citrus and hopps.
                </p>
            </div>
            </div>
        </div>
        
        <div class="responsive">
            <div class="gallery">
                <img src="./img/martini_cropped.jpg"  width="400" height="400">
            <div class="desc">
                    <h1>Martini</h1>
                    <p> Spicy, aromatic flavour with a hint of sweetness, 
                        elements of wormwood and citrus peel. 
                        Served in a frozen martiniglass with or without olives.
                    </p>
            </div>
            </div>
        </div>
        
        <div class="responsive">
            <div class="gallery">
                <img src="./img/smoky_house.jpg"  width="400" height="400">
            <div class="desc">
                <h1> Smokey Cocktail</h1>
                <p>Our own secret smokey cocktail, perfect if you're in for a suprise.</p>

                
            </div>
        </div>
        <div class="clearfix"></div>
</div>
      
      
    <!-- <section class="gallery">
            <div id="jack_daniels" class="gallery_item">
                <img src="./img/jack_daniesl_cropped.jpg" alt="" class="gallery_image">
                <h1 class="drinks_info_headline" >Jack Daniels</h1>
                <p class="gallery_item_info">Charcoal Mellowed
                 drop by drop through 10-feet of sugar maple charcoal, 
                 then matured in handcrafted barrels.
                 The Tennessee Whiskey doesn’t follow a calendar. 
                 It’s only ready when the tasters say it is. They judge it by the way it looks. 
                 By its aroma. And of course, by the way it tastes. </p>
            </div>

            <div id="beer" class="gallery_item">
                <img src="./img/beer_cropped.jpg" alt="" class="gallery_image">
                <h1 class="drinks_info_headline" >Craft Beer of the House</h1>
                <p class="gallery_item_info" >Our own cold, crisp and refreshing craft beer,
                    with a crisp, smooth flavour with hints of citrus and hopps.
                </p>
            </div>

            <div id="martini" class="gallery_item">
                <img src="./img/martini_cropped.jpg" alt="" class="gallery_image">
                <h1 class="drinks_info_headline" >Martini</h1>
                <p class="gallery_item_info" > Spicy, aromatic flavour with a hint of sweetness, 
                    elements of wormwood and citrus peel. 
                    Served in a frozen martiniglass with or without olives.
                    </p>
            </div>

            <div id="smokey_house" class="gallery_item">
                <img src="./img/smoky_house.jpg" alt="" class="gallery_image">
                <h1 class="drinks_info_headline" > Smokey Cocktail</h1>
                <p class="gallery_item_info" >Our own secret smokey cocktail, perfect if you're in for a suprise.</p>
            </div>
    </section> -->

</div>