<div class="drinks_page_wrapper">
    <div class="drinks_bg">
        <img src="./img/drinks_bg.jpg" alt="" class="drinks_bg_img">
    </div>

    <div class="drinks_headline_wrapper">
        <h1 class="drinks_headline">
                DRINKS
        </h1>
    </div>

    <div class="arrow_downwards">
        <i id="arrow" class="material-icons">
            keyboard_arrow_down
            </i>
    </div>

    <div class="drinks_image_info">
        
    </div>
</div>