<div  id="intro" class="intro_image">
        <div class="logo_and_name">
            <img id="logotype" src="./img/slutprojekt_logotyp.png" alt="">
        </div> 
        <img id="background_bar_image" src="./img/potential_background2_cropped.jpg" alt="">  
           <div id="background_bar_overlay" class="overlay"></div>
    
    <div class="arrow_downwards">
        <i id="arrow" class="material-icons">
            keyboard_arrow_down
            </i>
    </div>

    </div>


    <section class="sec1">
        <div class="about_us">
            <img src="./img/potential_bakground_image.jpg" alt="" class="about_us_img">
            <div class="about_us_text_wrapper">
                <h1 class="about_us_headline" >About Us</h1>
                <p class="about_us_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque lectus sem, ornare vitae mattis sed, pharetra sed ipsum. 
                    Nam sed felis est. Nunc ut arcu non lectus molestie interdum id in dolor. 
                    Quisque sed risus enim. Ut id sodales est. Donec quis sagittis turpis. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Nunc et commodo arcu, vitae tempor lacus. 
                </p>
            </div>
           
        </div>
        <div class="our_heritage">
            <img src="./img/cask.jpg" alt="" class="our_heritage_img">
            <div class="our_heritage_text_wrapper">
                <h1 class="our_heritage_headline" >Our Heritage</h1>
                <p class="our_heritage_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque lectus sem, ornare vitae mattis sed, pharetra sed ipsum. 
                    Nam sed felis est. Nunc ut arcu non lectus molestie interdum id in dolor. 
                    Quisque sed risus enim. Ut id sodales est. Donec quis sagittis turpis. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Nunc et commodo arcu, vitae tempor lacus. 
                </p>
        </div>
    </section>
    <section class="sec2" >
            <div class="quote_wrapper">
                <p class="quote"> 
                “Drink the sun’s warmth and the moon’s icy glitter, 
                and taste that which the dead and the yet-to-be-born cannot: 
                the potency of this world.”
                
                ― Emmanuelle de Maupassant, The Gentlemen's Club 
                </p>
            </div>
    </section>