html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#intro{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
    position: 0;
    top: 0;
    left: 0;

}

.logo_and_name {  
    z-index: 100;
    grid-column: 3 / 9;
    grid-row: 3 / 9;
    align-content: center;
}

.logo_and_name img {
    padding-top: 5vh;
    width: 45vw;
    height: 50vh;
    /* position: relative; */
    z-index: 100;
    grid-column: 4 / 8;
    grid-row: 3 / 9;
    display: block;
    margin: 0 auto;
}

#background_bar_image{
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.overlay{
    z-index: -50 ;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar{
    display: none;
}



