html {
    overflow: hidden;
}

body{
    margin: 0;
}

.background_video_wrap {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
.background_video_wrap_filter{
    width: 100vw;
    height: 100vh;
    z-index: -500;
    background-color: rgba(0, 0, 0, 0.5);
}

#video_BG_element{
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
}

.main_grid{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 10%);
    grid-template-rows: repeat(auto, 10%);
}
